html {
    scroll-behavior: smooth;
    min-width: 320px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    padding-top: 55px;
}

section img {
    margin-left: 30%;
}
#button_error{
    color: #d32323;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
#overlay{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

.navbar-brand {
    color: #d32323 !important;
}



.walkthrough {
    list-style: decimal;
}

p {
    padding-left: 5%;
    padding-right: 5%;
}

.navbar {
    width: 100vw;
}

.title {
    background-image: url("../img/food/head1.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.jumbotron {
    background-color: rgba(193, 238, 255, 0.5);
    margin-bottom: 0;
    text-shadow: 0px 0px 12px #FFFFFF;
}

.btn-select {
    background-color: #f5f5f5;
    border: 1px solid #29445B;
    color: #29445B;
}

.btn-select:hover {
    background: #d32323;
    color: #fff;
}

.jumbotron h1,
.jumbotron p {
    text-align: center;
    font-weight: bold;
}

.jumbotron h1 {
    color: #d32323;
    -webkit-text-stroke: #FFFFFF 1px;
    text-shadow:
        1px 1px 0 #FFF,
        -1px -1px 0 #FFF,
        1px -1px 0 #FFF,
        -1px 1px 0 #FFF;

}

.section-title {
    color: #d32323 !important;
    text-align: center !important;
    font-weight: bold !important;

}

.loc {
    background: url("../img/waiting_1.jpeg") center no-repeat !important;
    background-size: cover;

}

.loc .wrapper {
    background-color: rgba(255, 255, 255, .8);
}


.loc,
.reservation {
    background-color: #f5f5f5;
}

.loc button,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #d32323;
    border-color: #d32323;
}

.loc a.btn,
#reserveBtn {
    background-color: #29445B;
    border-color: #29445B;
}

#updateWait {
    background-color: #d32323;
    border-color: #d32323;
}

.loc .form-control {
    height: 3rem;
}

.loc .jumbotron button {
    margin-top: 0rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.loc .jumbotron input {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

.card-body,
footer .container {
    padding: 0;
}

.loc .display-4 {
    font-size: 3rem;
}

.map h4,
.reservation form h4 {
    text-align: center;
    margin-top: 1.4rem;
}

.reservation form {
    width: 100%;
}

.btn-dark .fa,
.btn-dark .fas,
.btn-dark .far {
    color: white;
}

a.btn-dark {
    color: white !important;
}

#restaurant {
    padding: 0 !important;
}

.no-reserve,
.reserve-success {
    text-align: center;

}

#waitView .card {
    height: 30rem;
    overflow: scroll;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-left: 11px;
}

.map .btn-dark:active,
.map .btn-dark:hover {
    background-color: #29445B !important;
    border-color: #29445B !important;
}

.waitTimeTable {
    color: #29445B;
}

.waitTimeTable tr,
.waitTimeTable th {
    height: 3rem;
    width: 50rem;
}



.waitTimeTable td,
.waitTimeTable th {
    padding-left: 1rem;
    padding-right: 1rem;

}

.waitTimeTable tbody tr td:nth-child(even) span {
    padding-top: 1rem;
    margin-right: 1rem;
}

.waitTimeTable tbody tr td:nth-child(even) {
    padding: 0;
}

.waitTimeTable tbody tr:hover {
    background-color: beige;
    transition: 0.5s ease;
}


.footer {
    height: 100px;
    overflow: hidden;
}

.copyright {
    width: 100vw;
    margin: 0;
}

.copyright ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}

.copyright:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    max-height: 100px;
    height: 100px;
    overflow: hidden;
    background: url("../img/copyright.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
}

.copyright p,
.copyright ul {
    text-align: center;
    margin: 0;
    color: white;
}

.copyright ul,
.copyright li {
    list-style: none;
    display: inline;
}

.mapBox {
    height: 30rem;
}

.marker ,.mapMarker{
    text-decoration: underline;
    cursor:pointer;
}

footer .container {
    margin-left: 0;
    margin-right: 0;
}

@media(min-width: 768px) {
    #updatewait {
        margin-left: 10%;
        margin-right: 10%;
    }

    .loc h4,
    .loc select {
        margin-left: 0 !important;
    }

    .loc button {
        margin-top: 0 !important;
    }

    .loc a {
        margin-left: 14rem !important;
    }

    .waitTimeTable {
        width: 70%;
        margin-left: 15%;
        text-align: center;
    }

    .form-group {
        width: 70%;
        margin-left: 15%;
    }

}

@media (min-width: 992px) {
    .title {
        height: 90vh;
    }

    .jumbotron h1 {
        font-size: 5rem;
    }

    .jumbotron .lead {
        font-size: 2rem;
    }

    .loc input,
    .loc button {
        margin-top: 3rem !important;
    }

    #nav-map {
        display: none;
    }



    #waitView {
        padding: 0;
        margin-left: 55%;
        background-color: #d32323;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }

    .outter-wrap #mapview,
    .outter-wrap #waitView {
        display: inherit !important;
    }

    #waitView .card,
    .waitTimeTable {
        margin: 0;
        background: rgba(0, 0, 0, 0);
        width: 100%;
        border: none;
        padding: 0;
    }

    #mapView {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .waitTimeTable thead {
        background: #FFF;
        color: #d32323;
    }

    .reservation-form button {
        margin: 0 20% 0 20%;
    }

    .waitTimeTable tbody tr,
    .waitTimeTable tbody td {
        color: #fff;
    }

    .overlay {
        opacity: .7;
        z-index: 2;
    }
}