body{
    font-family: 'Courier New', Courier, monospace;
}
.mapouter {
    text-align: right;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}

h1 {
    text-shadow: 4px 4px 9px rgba(150, 150, 150, 1);
}

section img{
     margin-left:30%;
}

.walkthrough{
    list-style: decimal;
}

p{
    padding-left:5%;
    padding-right: 5%;
}


.jumbotron h1,.jumbotron p {
    text-align: center;
}
.loc .form-control{
    font-size: 1.25rem;
    height: 3rem;
   
}