body{
    padding: 3em;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    text-shadow: 4px 4px 9px rgba(150, 150, 150, 1);
}

section img{
     margin-left:30%;
}

.walkthrough{
    list-style: decimal;
}

p{
    padding-left:5%;
    padding-right: 5%;
}
